@page "/create"
@using Application.Enums
@using Application.Ports
@using LockEscape.Services.EncodingToQueryParameters
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ICreateGameCommand CreateGameCommand
@inject IGenerateQueryParametersService GenerateQueryParametersService

<PageTitle>Lock Escape</PageTitle>

<div class="container d-flex justify-content-center align-items-center w-100">
    <div class="row g-2 w-100">
        <div class="col-12">
            <div class="card border-success bg-success rounded-0">
                <div class="card-header text-center">
                    <h4 class="text-white mb-0">Create new game</h4>
                </div>
                <div class="card-body d-flex justify-content-center container bg-white w-100">
                    <form class="w-100">
                        <div class="row w-100">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="lang">Game language</label>
                                    <select class="form-control" id="lang" @bind="_language">
                                        <option value="@Language.English">@Language.English.ToString()</option>
                                        <option value="@Language.German">@Language.German.ToString()</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="countRiddles">Amount riddles</label>
                                    <input type="number" min="1" max="30" class="form-control" id="countRiddles" @bind="_amountGames">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row w-100">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="password">Creator Password</label>
                                    <input type="text" class="form-control" id="password" @bind="_creatorPassword">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="countGroups">Amount groups</label>
                                    <input type="number" min="1" max="30" class="form-control" id="countGroups" @bind="_amountGroups">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            @for (var i = 0; i < _amountGroups; i++)
                            {
                                var j = i;
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="@($"group{i}game-solution")">Game solution Group @(j + 1)</label>
                                        <input type="text" class="form-control" id="@($"group{i}game-solution")" @onchange="@(e => OnChangeGameSolutionItem(e, j))">
                                    </div>
                                </div>
                            }
                        </div>
                        <hr/>
                        <div class="row">
                            @for (var i = 0; i < _amountGames; i++)
                            {
                                var j = i;
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="@($"solution{i}")">Riddle Solution @(j + 1)</label>
                                        <input type="text" class="form-control" id="@($"solution{i}")" @onchange="@(e => OnChangeSolutionItem(e, j))">
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <a class="btn btn-primary d-block" href="#" role="button">Back</a>
                            </div>
                            <div class="col">
                                <div class="btn btn-primary d-block" @onclick="@HandleCreate">Create</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center mt-2">
                                <div id="qrcode"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private int _amountGames;
    private List<string?> _solutions = null!;
    private List<string?> _gameSolutions = null!;
    private string? _creatorPassword;
    private int _amountGroups;
    private Language _language;

    protected override void OnInitialized()
    {
        _amountGames = 1;
        _amountGroups = 1;
        _solutions = new List<string?> { string.Empty };
        _gameSolutions = new List<string?> { string.Empty };
    }

    private void OnChangeSolutionItem(ChangeEventArgs e, int j)
    {
        var listElement = _solutions.ElementAtOrDefault(j);
        if (listElement is null)
        {
            _solutions.Add(e.Value?.ToString());
            return;
        }
        _solutions[j] = e.Value?.ToString();
    }

    private void OnChangeGameSolutionItem(ChangeEventArgs e, int j)
    {
        var listElement = _gameSolutions.ElementAtOrDefault(j);
        if (listElement is null)
        {
            _gameSolutions.Add(e.Value?.ToString());
            return;
        }
        _gameSolutions[j] = e.Value?.ToString();
    }

    private async Task HandleCreate()
    {
        var result = CreateGameCommand.Execute(_language, _solutions, _gameSolutions, _creatorPassword);
        var queryParametersEncoded = GenerateQueryParametersService.GenerateQueryParameters(result.Value);
        var currentUrl = NavigationManager.BaseUri;
        var queryString = System.Web.HttpUtility.ParseQueryString(string.Empty);
        queryString.Add("gameDataLockEscapeGame", queryParametersEncoded);
        var url = currentUrl + queryString;
        await JsRuntime.InvokeVoidAsync("createQrCode", url);
    }
}