@page "/play"
@using Application.Enums
@using FluentResults
@using LockEscape.Services.DecodingFromQueryParameters
@using Application.DataTransferObjects
@using Application.Ports
@using LockEscape.Services.EncodingToQueryParameters
@inject NavigationManager NavigationManager
@inject IDecodeFromQueryParametersService DecodeFromQueryParametersService
@inject IGenerateQueryParametersService GenerateQueryParametersService
@inject ISelectGroupCommand SelectGroupCommand

<PageTitle>Lock Escape</PageTitle>

<div class="container d-flex justify-content-center align-items-center w-100">
    <div class="row g-2 w-100">
        <div class="col-12">
            <div class="card border-success bg-success rounded-0">
                <div class="card-header text-center">
                    <h4 class="text-white mb-0">
                        @if (_isTeamSelection)
                        {
                            @(_Play.SelectYourGroup)
                        }
                        else
                        {
                            @(_Play.SolveTheRiddleAndOpenTheLock)
                        }
                    </h4>
                </div>
                <div class="card-body d-flex justify-content-center container bg-white w-100">
                    @if (_errors.Any())
                    {
                        <div class="row w-100">
                            <div class="col-12">
                                <div class="alert alert-warning" role="alert">
                                    @_errors.First().Message
                                </div>
                            </div>
                        </div>
                        <hr/>
                    }
                    @foreach(var gameSolutionForGroup in _escapeGameDto.GameSolutionForGroupDtos)
                    {
                        <div class="row w-100">
                            <div class="col">
                                <div class="btn btn-primary d-block" @onclick="@(() => HandleGroupSelection(@gameSolutionForGroup.GroupNumber))">@($"{_Play.Group} {@gameSolutionForGroup.GroupNumber}")</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private List<IError> _errors = null!;
    public EscapeGameDto _escapeGameDto = null!;
    private bool _isTeamSelection;
        private const string QueryParameterGameData = "gameDataLockEscapeGame";

    protected override void OnInitialized()
    {
        _errors = new List<IError>();
        NavigationManager.TryGetQueryString(QueryParameterGameData, out string gameData);
        if (string.IsNullOrWhiteSpace(gameData)) return;
        _isTeamSelection = true;
        DecodeGameData(gameData);
    }

    private void DecodeGameData(string queryParameterValue)
    {
        _escapeGameDto = DecodeFromQueryParametersService.DecodeToEscapeGameDto(queryParameterValue);
    }

    private void HandleGroupSelection(int groupNumber)
    {
        var result = SelectGroupCommand.Execute(groupNumber, _escapeGameDto);

        if (result.IsFailed)
        {
            _errors = result.Errors;
            return;
        }

        _isTeamSelection = false;
        var queryParametersEncoded = GenerateQueryParametersService.GenerateQueryParameters(result.Value);
        var currentUrl = NavigationManager.BaseUri;
        var queryString = System.Web.HttpUtility.ParseQueryString(string.Empty);
        queryString.Add(QueryParameterGameData, queryParametersEncoded);
        var url = currentUrl + "play?" + queryString;
        NavigationManager.NavigateTo(url, forceLoad: false);
    }

    private static Language MapCultureInfoToLanguage(string? cultureInfo)
    {
        return cultureInfo switch
        {
            "de-DE" => Language.German,
            "en-GB" => Language.English,
            _ => Language.English
            };
    }
}